<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{main.books}"></title>
</head>
<body>

<div style="width: 1000px; margin: 0 auto; padding: 5px">

    <div style="height: 25px; text-align: right; padding: 5px">
        <a href="/books/add" th:text="#{main.addBook}"></a> | <a href="/" th:text="#{main.back}"></a>
    </div>

    <div>
        <a th:each="book: ${books}" th:href="@{'/books/' + ${book.id}}">
            <div style="width: 205px; float: left">
                <div>
                    <img th:if="${book.bookImages != null && !book.bookImages.isEmpty()}"
                         th:src="@{/getImage(picName=${book.bookImages.get(0).name})}" width="100" height="100"/>
                    <img th:if="${book.bookImages == null || book.bookImages.isEmpty()}" src="/img/images.jpg"
                         width="100" height="100"/>
                </div>

                <b th:text="#{main.author}"></b> <span th:each="author: ${book.getAuthors()}"
                                                  th:text="${author.name} + ' '+ ${author.surname} + ' '"><br></span>

                    <b th:text="#{main.title}"></b> <span th:text="${book.title}"></span><br>
                    <b th:text="#{main.edition}"></b> <span th:text="${book.edition}"></span>
                            <span th:if="${currentUser != null}">
                                <a th:href="@{'/books/delete/'+ ${book.getId()}}"
                                   th:text="#{main.delete}"></a>
                            </span>
            </div>
        </a>
    </div>
</div>
</body>
</html>
