<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Գլխավոր</title>
</head>
<style>
    .pagination {
        display: inline-block;
    }

    .pagination a {
        color: black;
        float: left;
        padding: 5px 5px;
        text-decoration: none;
    }

    .pagination a.active {
        background-color: gray;
        color: white;
        border-radius: 2px;
    }
</style>

<body>
<div style="width: 1000px; margin: 0 auto; padding: 1px">
    <div>
        <div style="height: 25px; text-align: right; padding: 1px" th:if="${currentUser == null}">
            <a href="/login">Մուտք</a> | <a href="/user/add">Գրանցում</a>
        </div>
        <div style="height: 25px; text-align: right; padding: 1px" th:if="${currentUser != null}">
            Բարի գալուստ, <span th:text="${currentUser.user.name}"></span> | <a href="/myBooks">Իմ գրքերը</a> | <a
                href="/books/add">Ավելացնել գիրք</a> | <a th:href="@{'/user/edit/' + ${currentUser.user.id}}">Իմ
            տվյալները</a> | <a href="/logout">Դուրս գալ</a>
        </div>
    </div>

    <div style="height: 25px; text-align: left; padding: 1px">
        <ul style="overflow:hidden">
            <li style="display: inline; margin-left:40px; padding: 5px"><a href="/">Գլխավոր</a></li>
            <li style="display: inline; margin-left:40px" th:each="category: ${categories}">
                <a th:href="@{'/books/category/' + ${category.getId()}}" th:text="${category.getName()}"></a>
            </li>
        </ul>
    </div>

    <div style="margin: 0 auto; padding: 15px; text-align: center; float: left">
        <a th:each="book: ${userPage.content}" th:href="@{'/books/' + ${book.id}}">
            <div style="width: 241px; height: 215px;  float: left">
                <div>
                    <img th:if="${book.bookImages != null && !book.bookImages.isEmpty()}"
                         th:src="@{/getImage(picName=${book.getBookImages().get(0).name})}" width="195" height="135"/>
                    <img th:if="${book.bookImages == null || book.bookImages.isEmpty()}" src="/img/images.jpg"
                         width="195" height="135"/>
                    <b>Հեղինակ:</b> <span th:each="author: ${book.getAuthors()}"
                                          th:text="${author.name} + ' '+ ${author.surname} + ' '"></span><br>
                    <b>Վերնագիր:</b> <span th:text="${book.title}"></span>
                </div>

            </div>
        </a>
    </div>

    <div style="margin: 0 auto; padding: 5px; text-align: center" th:if="${userPage.totalPages > 0}" class="pagination"
         th:each="pageNumber : ${pageNumbers}">
        <a th:href="@{/(size=${userPage.size}, page=${pageNumber - 1})}"
           th:text=${pageNumber}
           th:class="${pageNumber==userPage.number + 1} ? active"></a>
    </div>
</div>

</body>
</html>
