<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{main.addBook}"></title>
</head>
<body>
<div style="width: 1000px; margin: 0 auto; padding: 5px; text-align: center">

    <div style="height: 25px; text-align: right; padding: 1px">
        <a href="?lang=hy">Հայերեն</a> | <a href="?lang=ru">Русский</a> | <a href="?lang=en">English</a>
    </div>
    <div style="height: 25px; text-align: right; padding: 1px" th:if="${currentUser == null}">
        <a href="/login" th:text="#{main.login}"></a> | <a href="/user/add" th:text="#{main.registration}"></a>
        | <a href="/" th:text="#{main.back}"></a>
    </div>

    <div style="height: 25px; text-align: right; padding: 1px" th:if="${currentUser != null}">
        <span th:text="#{main.welcome} +' '+ ${currentUser.user.name}"></span> | <a th:text="#{main.myBooks}"
                                                                                    href="/myBooks"></a> | <a
            th:text="#{main.addBook}" href="/books/add"></a> | <a th:text="#{main.myDetails}"
                                                                  th:href="@{'/user/edit/' + ${currentUser.user.id}}"></a>
        | <a th:text="#{main.logout}" href="/logout"></a> | <a href="/" th:text="#{main.back}"></a>
    </div>

 <b th:text="#{main.addBook}"> </b>
    <div th:if="${errors != null && !errors.isEmpty()}">
        <ul>
            <li style="color: red" th:each="error: ${errors}" th:text="${error}"></li>
        </ul>
    </div>
<form action="/books/add" method="post" enctype="multipart/form-data">
    <input th:if="${book != null}" type="hidden" th:value="${book.id}" name="id">
    <b th:text="#{main.title}"></b> <input type="text" name="title" th:value="${book == null} ? '' : ${book.title}"/> <br>
    <b th:text="#{main.description}"></b> <textarea name="description" th:text="${book == null} ? '' : ${book.description}"></textarea><br>
    <b th:text="#{main.edition}"></b> <input type="text" name="edition" th:value="${book == null} ? '' : ${book.edition}"/> <br>
    <b th:text="#{main.category}"></b> <br>
    <select name="categories[]" multiple>
        <option th:each="cat: ${categories}" th:text="${cat.name}" th:value="${cat.id}"></option>
    </select> <br>
    <b th:text="#{main.author}"></b> <br>
    <select name="authors[]" multiple>
        <option th:each="author: ${authors}" th:text="${author.name} +' '+ ${author.surname}" th:value="${author.id}"></option>
    </select><br>
    <a href="/author/add" th:text="#{main.addAuthor}"> </a><br>
    <b th:text="#{main.picture} "></b> <input type="file" name="pictures" multiple /><br>
    <b th:text="#{main.book} "></b>  /PDF/ <input type="file" name="pdf" /> <br/>
    <input type="submit" th:value="#{main.addBook}">
</form>
</div>
</body>
</html>
