<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{main.addAuthor}"></title>
</head>
<body>

<div style="width: 1000px; margin: 0 auto; padding: 5px; text-align: center">
    <b th:text="#{main.addAuthor}"> </b>   | <a href="/books/add" th:text="#{main.back}"> </a>
    <form action="/author/add" method="post" >
        <b th:text="#{main.name}"> </b> <input type="text" name="name"/> <br>
        <b th:text="#{main.surname}"> </b> <input type="text" name="surname"/><br>
        <b th:text="#{main.dataOfBirth}"></b> <input type="date" name="dateOfBirth"><br>
        <input type="submit" th:value="#{main.add}">
    </form>
</div>

</body>
</html>
