<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ավելացնել գիրք</title>
</head>
<body>
<div style="width: 1000px; margin: 0 auto; padding: 5px; text-align: center">
Ավելացնել գիրք: | <a href="/books">Գնալ հետ</a>
<form action="/books/add" method="post" enctype="multipart/form-data">
    <input th:if="${book != null}" type="hidden" th:value="${book.id}" name="id">
    Վերնագիր։ <input type="text" name="title" th:value="${book == null} ? '' : ${book.title}"/> <br>
    Նկարագրություն:<textarea name="description" th:text="${book == null} ? '' : ${book.description}"></textarea><br>
    Հրատարակչություն: <input type="text" name="edition" th:value="${book == null} ? '' : ${book.edition}"/> <br>
    Կատեգորիա:
    <select name="categories[]" multiple>
        <option th:each="cat: ${categories}" th:text="${cat.name}" th:value="${cat.id}"></option>
    </select> <br>
    Հեղինակներ:
    <select name="authors[]" multiple>
        <option th:each="author: ${authors}" th:text="${author.name}" th:value="${author.id}"></option>
    </select>
    <a href="/author/add">Ավելացնել հեղինակ։</a><br>
    Նկար:<input type="file" name="pictures" multiple /><br>
    Գիրք /PDF/ <input type="file" name="pdf" /> <br/>
    <input type="submit" value="ավելացնել">
</form>
</div>
</body>
</html>
