<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ավելացնել օգտագործող</title>
</head>
<body>

<div style="width: 1000px; margin: 0 auto; padding: 5px">

Ավելացնել օգտագործող
<form action="/user/add" method="post">
    <input th:if="${user != null}" type="hidden" th:value="${user.getId()}" name="id">
    Անուն: <input type="text" name="name" th:value="${user == null} ? '' : ${user.name}"/> <br>
    Ազգանուն:<input type="text" name="surname" th:value="${user == null} ? '' : ${user.surname}"/><br>
    Սեռը:<select name="gender">
    <option value="MALE" >Արական</option>
    <option value="FEMALE">Իգական</option>
</select><br>
    Հեռախոս:<input type="text" name="phone" th:value="${user == null} ? '' : ${user.phone}"/><br>
    email:<input type="text" name="email" th:value="${user == null} ? '' : ${user.email}"/><br>
    Ծածկագիր: <input type="password" name="password" th:value="${user == null} ? '' : ${user.password}"/><br>
    <input type="submit" value="ավելացնել">
</form>

</div>
</body>
</html>
