<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Save User</title>
</head>
<body>
Save User
<form action="/user/add" method="post">
    <input th:if="${user != null}" type="hidden" th:value="${user.getId()}" name="id">
    Name: <input type="text" name="name" th:value="${user == null} ? '' : ${user.name}"/> <br>
    surname:<input type="text" name="surname" th:value="${user == null} ? '' : ${user.surname}"/><br>
    gender:<select name="gender">
    <option value="MALE" >MALE</option>
    <option value="FEMALE">FEMALE</option>
</select><br>
    phone:<input type="text" name="phone" th:value="${user == null} ? '' : ${user.phone}"/><br>
    email:<input type="text" name="email" th:value="${user == null} ? '' : ${user.email}"/><br>
    password: <input type="password" name="password" th:value="${user == null} ? '' : ${user.password}"/><br>
    <input type="submit" value="save">
</form>

</body>
</html>
